.Header {
  background-color: rgba(52, 73, 95, 0.5);
  height: 30rem;
  display: flex;
  align-items: center;
}

.HeaderContainer {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.HeaderContainer img {
  height: 25rem;
  border-radius: 5px;
}

.MovieDetail {
  display: flex;
  flex-direction: column;
  color: white;
}

.MovieDetail h1 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.MovieDetail .Genres {
  margin-top: 0;
}

.MovieDetail .MuiRating-iconEmpty {
  color: grey;
}

.MovieDetail .SinopsisTitle {
  margin-bottom: 0;
}

.MovieDetail .Sinopsis {
  margin-top: 0.3rem;
}

.MovieDetail .TrailerButton {
  width: 10rem;
  max-lines: 1;
  background-color: #151b1e;
}

.MovieDetail .AvailabilityTitle {
  margin-bottom: 0.5rem;
}

.WatchProviders {
  display: flex;
  gap: 1rem;
}

.WatchProviders img {
  width: 3rem;
  height: 3rem;
  border-radius: 25%;
}

.CastContainer {
  padding-bottom: 2rem;
}

.CastContainer h2 {
  font-weight: 600;
}

.CastContainer .CastSlider {
  overflow-x: scroll;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.CastContainer .CastCard {
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  min-width: 9rem;
  border-radius: 8px;
  overflow: hidden;
}

.CastContainer .CastCard img {
  width: 9rem;
}

.CastContainer .CastCard h4 {
  margin: .5rem .5rem 0 .5rem
}

.CastContainer .CastCard p {
  margin: 0 .5rem 1.5rem .5rem
}
